@use 'variables' as *;

/* ================================================================== */
/* === Forms                                                      === */
/* ================================================================== */

%input {
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 0.8;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        opacity: 0.8;
    }

    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
    }
}

.input {
    &--fname,
    &--lname,
    &--email,
    &--subject,
    &--message {
        @extend %input;
    }

    &--message {
        padding-top: 10px;
        resize: none;
    }
}
    