// responsive max viewport sizes
$mvp-small: 740px;
$mvp-medium: 940px;
$mvp-large: 1150px;
$mvp-xlarge: 1400px;
$mvp-xxlarge: 1700px;

// media query breakpoints

// navbar variables
$nav-width-medium: 164px;

// color variables
$color-logo: #52b2cb;
$color-nav: #494c5f;

//responsive image sizes
// small : 370 x 803
// medium : 574 x 769
// large : 1024 x 769
// x-large : 1024 x 757